@import "modern-normalize/modern-normalize.css";
/* @import "./styles/fonts.css";
@import "./styles/variables.css"; */

body {
  /* background-color: #f7f8fa; */
  color: #1d1e21;
  /* font-family: Inter; */
  font-size: 16px;
  font-weight: 400;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  transition: transform 0.3s ease;

  &:hover,
  &:focus {
    transform: scale(1.1);
  }
}
ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}
img {
  display: block;
  object-fit: cover;
  max-width: 100%;
}

button {
  cursor: pointer;
  padding: 0;
  margin: 0;
  transition: transform 0.3s ease;
  border: none;
  background-color: transparent;
  &:hover,
  &:focus {
    transform: scale(1.1);
  }
}
